{% extends "layout.html" %}

{% block title %} Hindustani Music Labs - Experiments {% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://purecss.io/css/layouts/side-menu.css">
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<div id="main">
<div class="header">
    <h1>Experiments</h1>
</div>
<br><br>
    <div class="content">
        <div class = "pure-g">
            <div class = "pure-u-1-2">
        <ol>
            <li><a href="{{ url_for('render_experiment', num=1) }}"> Pitch Difference</a></li>
            <p>Are two musical tones are the same or different?</p>
            <li><a href="{{ url_for('render_experiment', num=2) }}"> Pitch Direction</a></li>
            <p>Which of the two musical tones is higher?</p>
            <li><a href="{{ url_for('render_experiment', num=3) }}"> Explore sargam</a></li>
            <p>Explore notation, sargam, play music!</p>
            <li><a href="{{ url_for('render_experiment', num=4) }}"> Explore Thaats</a></li>
            <p>Listen to the 10 Thaats</p>
            <li><a href="{{ url_for('render_experiment', num=5) }}"> Name Svar</a></li>
            <p>Identify names of svar</p>
            <li><a href="{{ url_for('render_experiment', num=6) }}"> Name String of Svar</a></li>
            <p>Name svars in a row</p>
            <li><a href="{{ url_for('render_experiment', num=7) }}"> Trace a melody</a></li>
            <p>Trace a melodic phrase</p>
        </ol>
    </div>
    <div class = "pure-u-1-2">
        <ol start = "8">
            <li><a href="{{ url_for('render_experiment', num=8) }}"> Tabla or Dagga sound</a></li>
            <p>Trace a melodic phrase</p>
            <li><a href="{{ url_for('render_experiment', num=9) }}"> Hear Bols</a></li>
            <p>Trace a melodic phrase</p>
            <li><a href="{{ url_for('render_ragadb') }}"> Raag Graph Interactive Visualization</a></li>
            <p>Interact with raag as a graph</p>
	       <li><a href="{{ url_for('render_experiment', num=11)}}"> Raga Quiz</a></li>
	       <p>How much do you know about ragas?</p>
	       <li><a href="{{ url_for('render_experiment', num=12)}}"> Taal Quiz</a></li>
	       <p>Explore your concepts on taal</p>
	       <li><a href="{{ url_for('render_experiment', num=13)}}"> Instrument Quiz</a></li>
	       <p>Identify the instrument</p>
	       <li><a href="{{ url_for('render_experiment', num=14)}}"> Lay Quiz</a></li>
	       <p>Can you find the number of matras for dugun, tigun, etc?</p>
	       <li><a href="{{ url_for('render_experiment', num=15)}}"> Moorchana - New!</a></li>
	       <p>Find the mathematical similarities between ragas!</p>
	       <!-- <li><a href="{{ url_for('render_experiment', num=16)}}"> Alankaar</a></li>
	       <p>Practice alankaars of different ragas and thaats</p> -->
           </ol>
        </div>
    </div>
    </div>

    <hr class="fancy-line"></hr>

    <div class="content">
        <h2 class="content-subhead">Upcoming!</h2>
        <ol>
            <li>See your singing as a graph!</li>
            <li>Tune a Tanpura </li>
            <li>Identify Taal Matras</li>
            <li>Refer to a Digital Library</li>
        </ol>
    </div>
</div>
</div>

{% endblock %}
