p {
    color: #343535;
}
.left-pane{
    padding: 0 0 10px 0;
    background: #ffffff;
}

td.left-pane{
    width: 42%;
}
.right-pane, .left-pane{
    overflow-y: auto;
    overflow-x: hidden;
}


.raga-description-pane {
    margin: 1px 10px 10px 1px;
    max-height: 85%;
    width: 30%;
    background-color: rgba(247, 249, 248, 0.60);
    border: 1px solid lightgrey;
    border-radius: 5px;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    position: absolute;
    transition-duration: 1s;
}
.raga-description-pane:hover {
    background-color: rgba(247, 249, 248, 1.0);
}
.raga-description-pane-closed {
    max-width: 20%;
   
}
.mousetrap-popup {
    background-color: rgb(255, 244, 199);
    height: 20%;
    border: .1em solid rgb(201, 201, 201);
    border-radius: 5px;
    margin: -15px auto 5px auto;
    transition-duration: .6s;
}
.mousetrap-popup:hover {
    box-shadow: 1px 1px 1px 1px lightgrey ;
}