{% extends "layout.html" %}

{% block title %} Annotation Tool {% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://purecss.io/css/layouts/side-menu.css">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/css/searchbox.css"/>

        <link rel="stylesheet" href="static/css/style.css" />
        <link rel="stylesheet" href="static/css/ribbon.css" />
        <link rel="screenshot" itemprop="screenshot" href="http://katspaugh.github.io/wavesurfer.js/example/screenshot.png" />

{% endblock %}

{% block content %}

<div id="main">
  <div class="header">
    <div class="pure-g">
      <div class="pure-u-1"> <h1> Annotation Tool</h1> </div>
      <!-- <div class="pure-u-1"> <h3>  </h3> </div> -->
    </div>
  </div>
</div>



 <div class="container">
            

            <div style=" position:relative;" id="demo">
                <p> http://www-mmsp.ece.mcgill.ca/documents/audioformats/wave/Samples/AFsp/M1F1-Alaw-AFsp.wav
                
                    <div class="container">           
                    <div class = "pure-g">
                    <div class = "pure-u-2-3">
                    </div>
                    <div class = "pure-u-1-3">
                               
                <div id="signedInUser" style=" position:relative;transition:.5s ease; top: 10%; left :80%;">

                      <button class="pure-button centered option button-secondary" id="sign-in">sign-in</button>
                        <button class="pure-button centered option button-secondary" id="sign-out">sign-out</button>
                    </div>
                    </div>

                </div>

               
                <div style=" position:relative;">
                    <div clas"row">
                        Load a sound file:
                         <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="search-query form-control" id="file-input" placeholder="Search" />
                            </div>
                        </div>

                        <button class="pure-button centered option button-secondary" id="load">Load</button>
                    </div>

                    <!--div clas"row">
                        Load a csv file: 
                        <input id="nodes-csv-file-input" type="file">
                        <input id="edges-csv-file-input" type="file">
                        <button class="btn btn-success" id="genrateForm">LoadCSV</button>
                    </div-->
                    
                    <p id="subtitle" class="text-center text-info">&nbsp;</p>

                    <div id="wave-timeline"></div>

                    <div id="waveform">
                        <!-- Here be waveform -->
                    </div>

                    <div class="pure-g">
                      <div class = "pure-u-2-3">
                         <p>
                                Click on a region to enter an annotation.<br />
                                Shift-click plays a region in a loop.
                            </p>
                      </div>
                      <div class ="pure-u-1-3">
                         <button class="pure-button centered option button-secondary" data-action="play">
                                <span id="play">
                                    <i class="glyphicon glyphicon-play"></i>
                                    Play
                                </span>

                                <span id="pause" style="display: none">
                                    <i class="glyphicon glyphicon-pause"></i>
                                    Pause
                                </span>
                            </button>

                            <button class="pure-button centered option button-secondary" data-action="publish" title="Publish annotations to JSON" id="Publish">
                                <i class="glyphicon glyphicon-file"></i>
                                Publish
                            </button>
                      </div>
                    </div>



                 <!--    <div class="row" style="margin: 30px 0">
                    <div class="col-sm-2" style = "position:relative; left:80%;">
                            <button class="pure-button centered option button-secondary" data-action="play">
                                <span id="play">
                                    <i class="glyphicon glyphicon-play"></i>
                                    Play
                                </span>

                                <span id="pause" style="display: none">
                                    <i class="glyphicon glyphicon-pause"></i>
                                    Pause
                                </span>
                            </button>
                        </div>


                        <div class="col-sm-2" style = "position:relative; left:40%;">
                            <button class="pure-button centered option button-secondary" data-action="publish" title="Publish annotations to JSON" id="Publish">
                                <i class="glyphicon glyphicon-file"></i>
                                Publish
                            </button>
                        </div>
                    </div>

                        <div class="col-sm-8" style= "position:relative; left: 90%;">
                            <p>
                                Click on a region to enter an annotation.<br />
                                Shift-click plays a region in a loop.
                            </p>
                        </div> 
                      
                </div>
                    
            </div>-->
            <div class = "container">
              <div class = "pure-g">
              <div class = "pure-u-1-3">
              </div>
              <div class = "pure-u-1-3">
                 <form role="form" name="edit" style="opacity: 0; transition: opacity 300ms linear; margin: 30px 0;">
                    <div class="form-group">
                        <label for="start">Start</label>
                        <input class="form-control" id="start" name="start" />
                    </div>

                    <div class="form-group">
                        <label for="end">End</label>
                        <input class="form-control" id="end" name="end" />
                    </div>
                   
                    <div class="form-group">
                        <label for="songgraph">Type of Annotation</label>
                        <select id="songgraph" class="form-control" rows="3" name="songgraph" onchange="change_type()"></select>
                    </div>
                

                    <div class="form-group">
                        <label for="songtype">Category</label>
                        <select id="songtype" class="form-control" rows="3" name="songtype" onchange="change_label()"></select>
                    </div>

                    <div class="form-group">
                        <label for="songlabel">Detail</label>
                        <select id="songlabel" class="form-control" rows="3" name="songlabel"></select>
                    </div>

                     <div class="form-group">
                        <label for="note">Note</label>
                        <textarea id="note" class="form-control" rows="3" name="note"></textarea>
                    </div>


                    <div class="form-group">
                        <label for="note1">Comment</label>
                        <textarea id="comment" class="form-control" rows="3" name="comment"></textarea>
                    </div>

                    <button type="submit" class="pure-button centered option button-secondary">Save</button>
                   
                    <button type="button" class="pure-button option button-secondary" data-action="delete-region">Delete</button>
                </form>
              </div>
              <div class = "pure-u-1-3">
              </div>
           </div>
            </div>
        </div>

{% endblock %}

{% block script %}
        <script src="static/js/jquery-2.1.3.min.js"></script>

    <!-- wavesurfer.js -->
        <script src="static/js/src/wavesurfer.js"></script>
        <script src="static/js/src/webaudio.js"></script>
        <script src="static/js/src/audioelement.js"></script>
        <script src="static/js/src/drawer.js"></script>
        <script src="static/js/src/drawer.canvas.js"></script>

        <!-- plugins -->
        <script src="static/js/plugin/wavesurfer.timeline.js"></script>
        <script src="static/js/plugin/wavesurfer.regions.js"></script>
        <script src="static/js/plugin/wavesurfer.minimap.js"></script>

        <!-- App -->
        <script src="static/js/trivia.js"></script>
        <script src="static/js/app.js"></script>

    <script>
        var swtstoreURL = function() { return '{{ config.swtstoreURL }}'; }
        var endpoints = {
            'get': '/api/sweets/q',
            'post': '/api/sweets',
            'context': '/api/contexts',
            'auth': '/oauth/authorize',
            'login': '/auth/login',
            'logout': '/auth/logout'
        };
        var access_token = '{{ access_token }}';
        var refresh_token = '{{ refresh_token }}';
        var app_id = '{{ config.app_id }}';
        var oauth_redirect_uri = '{{ config.redirect_uri }}';
    </script>

{% endblock %}

