{% extends "layout.html" %}
        {% block title %} Virtual Lab for Hindustani Music{% endblock %}
{% block content %}


<div class="banner">
    <h1 class="banner-head">
        Virtual Lab for Hindustani Music<br>
    </h1>
</div>
<div class = "content">
{#  <div class="information pure-g">#}
{#        <div class="pure-u-1 centering-div">#}
  <aside>
            <h3 style="text-align: center;">        Experiment with Musical Concepts</h3>
                <p>
                    Virtual Lab for Hindustani music is an online resource providing support to your musical learning with the help of experiments, repositories and contributions you can make.
                    You can begin at your level of exposure and learn musical categories with experiments, quizzes and drills specifically designed to focus on some target abilities and to make you better at them.
                </p>
              </aside>
{#        </div>#}

  </div>

<div class ="main">
    <div class = "content">
        <div class = "pure-g">

            <div class = "pure-u-1-3">
                <a class="pure-button button-secondary4" href="{{url_for('render_explist')}}">Start Experiments!</a>
            </div>
            <div class = "pure-u-1-3"></div>
            <div class = "pure-u-1-3">
                <a class="pure-button button-secondary4" href="{{url_for('start_page')}}">Is this for you?</a>
            </div>
                        <!-- <div class = "pure-u-1-3"></div> -->
        </div>
    </div>
</div>

<hr class="fancy-line"></hr>
<br><br><br>
<div class = "main">
<div class="l-content">
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <h2>Experiments</h2>

                    <span class="pricing-table-price">
                      <a style= "color:#ffffff; text-decoration:none;cursor:pointer;" href="{{ url_for('render_explist') }}" >Play</a>
                        <span>
                        With Musical Concepts</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Tone Identification</li>
                    <li>Tabla Bols</li>
                    <li>Learn about Thaat</li>
                    <li>Quiz on Raga</li>
                </ul>

                <!--<button class="button-choose pure-button">Go</button>-->
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise pricing-table-selected">
                <div class="pricing-table-header">
                    <h2>Repository</h2>

                    <span class="pricing-table-price">
                      <a style= "color:#ffffff; text-decoration:none;cursor:pointer;" href="{{ url_for('render_ragadb') }}">Read</a><span>Resource Material</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Notated Compositions</li>
                    <li>Resources</li>
                    <li>Artists</li>
                </ul>

                <!--<button class="button-choose pure-button">Go</button>-->
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <h2>Contribute</h2>

                    <span class="pricing-table-price">
                        <a style= "color:#ffffff; text-decoration:none;cursor:pointer;" href = "{{url_for('contact')}}">Add</a><span>Your own Work</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Annotate Snippets</li>
                    <li>Contribute Literature</li>
                    <li>Provide Links</li>
                    <li>Translate Resources</li>

                </ul>


                <!--<button class="button-choose pure-button">Choose</button>-->
            </div>
        </div>

        <div class="information pure-g">
        <div class="pure-u-1 centering-div">
            <div class="l-box">



            </div>
            </div>
        </div>

    </div> <!-- end information -->
</div>
</div>
    {% endblock %}
