{% extends "layout.html" %}

{% block title %} Raga DB - Virtual Lab for Hindustani Music {% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/experiment_content.css">
    <style>
      #ragadb-container {
        width: 100%;
        border: 1px solid #eee;
          overflow-x: hidden;
          overflow-y: hidden;
                }
    </style>
{% endblock %}

{% block content %}
<div id = "main">
<div class = "container">
<table>
    <tr style="border-top:1px solid lightgrey">
    <td class="left-pane">
        <div class="left-pane">
    <div class = "header">
<div class="pure-g">

    <div class="pure-u-1"> <h1> Raga Space Visualization </h1> </div>
    <div class="pure-u-1"> <h3> Experiment 10</h3> </div>
</div></div>

        <div class="content">
           <h2 class="content-subhead">Description</h2>
           <p>
             In this experiment, you can view and interact with the ragas as a space.
             Click on a raga to highlight the constituent notes and the thaat it belongs to. You can find ragas which are similar clustered together,
             while ragas that are further away to be away from each other - explore 163 of them through this graph!
             <br>
             Scroll up or down to zoom in and out or double click on a space to zoom in.

           </p>

        </div>
<!--
     <div style="padding: 10px"> <a style="float: left; font-size:small;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
 </div>

    <div class="header" id="click-area" style="cursor: pointer; font-size: small; padding-top: 10px;" title="click to show/hide description">
      <div class="pure-g">
        <div class="pure-u-1"><h1> Raaga DB </h1></div>
        <div class="pure-u-1"><h3> Visualising the world of Raags </h3></div>
        </div></div>
<div id="toggle"> -->
</div></td>
<td class="right-pane">
<div class="right-pane">
<div style="padding: 10px"> <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
  <!--/button-->
  <a style="float: right; position: relative;" href="{{url_for('render_experiment', num=11)}}">
Next Experiment&nbsp;<i class="fa fa-forward"></i></a></div>
<div class="header">
  </div>
  <div id="ragadb-container">
      <div id="raga-desription-pane">
      </div>
      </div>
      </td>
      </tr>
      </table>
      </div>
  </div>


{% endblock %}

{% block script %}
<script>
    $("#click-area").click(function(){
        $("#toggle").slideToggle()});
</script>
<script type="text/javascript">
    $(function(){
    $('#ragadb-container').css({ height: $(window).innerHeight() - 75});
    $(window).resize(function(){
        $('#ragadb-container').css({ height: $(window).innerHeight() - 75});
        });
    });
</script>
<script src="{{ url_for('static', filename='js/ragadb/sigma.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/plugins/sigma.parsers.gexf.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/plugins/sigma.layout.forceAtlas2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/plugins/sigma.plugins.animate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/plugins/sigma.plugins.dragNodes.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/plugins/sigma.plugins.neighborhoods.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/plugins/sigma.plugins.filter.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/main.js') }}"></script>
{% endblock %}
