{% extends "layout.html" %}

{% block title %} Experiment 12 {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/css/experiment_content.css">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

{% endblock %}

{% block content %}
<div id="main">
<div class="container">
    <table>
        <tr style="border-top:1px solid lightgrey">
        <td class="left-pane">
            <div class="left-pane">
                <div class="header">
              <div class="pure-g">

                <div class="pure-u-1">
                  <h1> Taal Quiz</h1> </div>
                <div class="pure-u-1">
                  <h3> Experiment 12</h3> </div>
              </div>
            </div>
                <div class="content">
              <h2 class="content-subhead">Description</h2>
              <p>
                  Here is a quiz about different taal. We will ask you a multiple choice question about the details of any taal. If you click on show answer, you will not be
                  able to answer the question and will have to move on to the next question. The marks for this won't be counted in the total score.
                  <br>
                  Answering correctly is one mark. You can also click on 'show answer' after having submitted your response. If you do this, then your score will still be counted. Best of luck!
              </p>


            </div>
            </div></td>
            <td class="right-pane">
                <div class="right-pane">
    <div style="padding: 10px"> <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
              <!--/button-->
              <a style="float: right; position: relative;" href="{{url_for('render_experiment', num=13)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a></div>
<div class="header">

<aside style="background: #fff1ea; color: #111111">
<br>
<h3 style="color: #111111">QUESTION</h3>

<p id="ques"></p>
<br>
    <aside style="background: #e5dcd9">
<br>
<h3 style="color: #111111">ANSWER</h3>
<form action="">
<label><input type="radio" id="op1" name="op" value="op1" style="vertical-align:middle;margin:0px;">&nbsp;<br><br></label>
<label><input type="radio" id="op2" name="op" value="op2" style="vertical-align:middle;margin:0px;">&nbsp;<br><br></label>
<label><input type="radio" id="op3" name="op" value="op3" style="vertical-align:middle;margin:0px;">&nbsp;<br><br></label>
<label><input type="radio" id="op4" name="op" value="op4" style="vertical-align:middle;margin:0px;">&nbsp;<br></label>
</form>
<br>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-success" id="submit" onclick="submit()">Submit</button></div>
<br>
<br>
<div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-error" id="show" onclick="showanswer()">Show Answer</button>
</div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-warning" id="next" onclick="next()">Next question</button></div>
<br>
<br>
</div>
</aside>
</aside>

<br>

<div class="content" style="background: #596999">
<br>
<h3 style="color: #111111">RESULT</h3>
<h4 id="rightorwrong"></h4>
<h4 id="answer"></h4>
<h4 id="score">Score: 0/0</h4>
<br>
</div>
</div>
                </div></td></tr></table>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    $(function(){
    $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
    $(window).resize(function(){
        $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
        });
    });
</script>
<script src="/static/js/jquery.csv-0.71.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/expr12_taalquiz.js"></script>
{% endblock %}
