{% extends "layout.html" %}

{% block title %} Experiment 5 {% endblock %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/experiment_content.css">
    <script src="{{ url_for('static', filename='js/expr5_pitchid.js')}}"></script>
    <style>
      .active a { color: black; }
      .panel {
        display: none;
      };
    </style>
{% endblock %}

{% block content %}
<div id="main">

  <div class="container">
    <table>
      <tr style="border-top:1px solid lightgrey">
        <td class="left-pane">
          <div class="left-pane">
            <div class="header">
              <div class="pure-g">
                <div class="pure-u-1">
                  <h1> Name Svar </h1> </div>
                <div class="pure-u-1">
                  <h3> Experiment 5</h3> </div>
              </div>
            </div>

            <div class="content">
              <h2 class="content-subhead">Description</h2>

              <p>
                Identify the name of the tone played. To play, click on "Play Drone". Listen carefully - that is your reference note. Click on "Play Tone" - this is your question.
                <br>Choose an answer from the options - which note do you think it is? Then click submit.
                <p>
                  There are 8 levels - each one introduces new notes. If it confuses you, open <a href="{{url_for('render_experiment', num=3)}}">Experiment 3</a> and match the question tone.
                </p>
                After clicking 'Submit', the system will automatically generate a new question for you!

              </p>

            </div>
          </div>
        </td>
        <td class="right-pane">
          <div class="right-pane">
            <div style="padding: 10px"> <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
              <!--/button-->
              <a style="float: right; position: relative;" href="{{url_for('render_experiment', num=6)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a></div>
            <div class="header">
                <div class="popup-position"></div>
              <aside style="background: #fff1ea; color:#111111">
                <h3 style="color: #111111">Question</h3>
                <div class="content">
                  <form class="pure-form" name="swar">
                    <h5><label for="state">Choose Instrument</label>
                    <select name="state" class="pure-input-2-3" id="instrument">
                      <option value="santoor">Santoor</option>
                      <option value="shehnai">Shehnai</option>
                        <option value="harmonium">Harmonium</option>
                        <option value="flute">Flute</option>
                        <option value="sitar">Sitar</option>
                    </select></h5>
                  </form>
                </div>

                <div style="display: none" id="hideAll">&nbsp;</div>
                <div style="display: none" id="hideAll">&nbsp;</div>

                <div class="pure-menu pure-menu-open pure-menu-horizontal">
                  <ul id="level-selector">
                    <li value="1"><a class="flip" href="#panel1">Level1</a></li>
                    <li value="2"><a class="flip" href="#panel2">Level2</a></li>
                    <li value="3"><a class="flip" href="#panel3">Level3</a></li>
                    <li value="4"><a class="flip" href="#panel4">Level4</a></li>
                    <li value="5"><a class="flip" href="#panel5">Level5</a></li>
                    <li value="6"><a class="flip" href="#panel6">Level6</a></li>
                    <li value="7"><a class="flip" href="#panel7">Level7</a></li>
                    <li value="8"><a class="flip" href="#panel8">Level8</a></li>
                  </ul>
                </div>
                <br>
                <br>


                <div id="Container">
                  <div id="layer">

                    <div class="panel" id="panel1">
                      <div class="pure-u-1-1 centering-div"> </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button>
                      </div>

                      <p>What is the name of the note played?</p>
                      <aside style="background: #e5dcd9">
                        <h3 style="color: #111111">Answer</h3>

                        <form class="pure-form" name="swarr1" id="l1">
                          <br>
                          <br>
                          <label><input  type="radio" name="swar1" value="Sa" id="my1"> Sa &nbsp;</label>
                          <label><input  type="radio" name="swar1" value="Pa" id="my2"> Pa &nbsp;</label>
                          <label><input  type="radio" name="swar1" value="Ma" id="my3"> Ma</label>
                        </form>
                        <br>
                        <div class="pure-u-1 centering-div">
                          <button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button>
                        </div>
                        <br>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                      </aside>
                    </div>


                    <div class="panel" id="panel2">
                      <div class="pure-u-1-1 centering-div"> </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button>
                      </div>
                      <p>What is the name of the note played?</p>
                      <aside style="background: #e5dcd9">
                        <h3 style="color: #111111">Answer</h3>
                        <form class="pure-form" name="swarr2" id="l2">
                          <br>
                          <br>
                          <label><input type="radio" name="swar2" value="Sa" id="my1"> Sa &nbsp;</label>
                          <label><input type="radio" name="swar2" value="Pa" id="my2"> Pa &nbsp;</label>
                          <label><input type="radio" name="swar2" value="Ma" id="my3"> Ma &nbsp;</label>
                          <label><input type="radio" name="swar2" value="Ga" id="my4"> Ga &nbsp;</label>
                          <label><input type="radio" name="swar2" value="Ni" id="my5"> Ni</label>
                        </form>
                        <br>
                        <div class="pure-u-1 centering-div">
                          <button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button>
                        </div>
                        <br>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                      </aside>
                    </div>

                    <div class="panel" id="panel3">
                      <div class="pure-u-1-1 centering-div"> </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button>
                      </div>
                      <p>What is the name of the note played?</p>
                      <aside style="background: #e5dcd9">
                        <h3 style="color: #111111">Answer</h3>
                        <form class="pure-form" name="swarr3" id="l3">
                          <br>
                          <br>
                          <label><input  type="radio" name="swar3" value="Sa" id="my1" style="text-align: middle;">
                          </t>Sa &nbsp;</label>
                          <label><input  type="radio" name="swar3" value="Pa" id="my2" style="text-align: middle;">
                          </t>Pa &nbsp;</label>
                          <label><input  type="radio" name="swar3" value="Ma" id="my3" style="text-align: middle;">
                          </t>Ma &nbsp;</label>
                          <label><input  type="radio" name="swar3" value="Re" id="my4" style="text-align: middle;">
                          </t>Re &nbsp;</label>
                          <label><input  type="radio" name="swar3" value="Dha" id="my5" style="text-align: middle;">
                          </t>Dha</label>
                        </form>
                        <br>
                        <div class="pure-u-1 centering-div">
                          <button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button>
                        </div>
                        <br>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                      </aside>
                    </div>


                    <div class="panel" id="panel4">
                      <div class="pure-u-1-1 centering-div"> </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button>
                      </div>
                      <p>What is the name of the note played?</p>
                      <aside style="background: #e5dcd9">
                        <h3 style="color: #111111">Answer</h3>
                        <form class="pure-form" name="swarr4" id="l4">
                          <br>
                          <br>
                          <label><input  type="radio" name="swar4" value="Sa" id="my1"> Sa &nbsp;</label>
                          <label><input  type="radio" name="swar4" value="Pa" id="my2"> Pa &nbsp;</label>
                          <label><input  type="radio" name="swar4" value="Ma" id="my3"> Ma &nbsp;</label>
                          <label><input  type="radio" name="swar4" value="Ga" id="my4"> Ga
                          <br>
                          <br>
                          <label><input  type="radio" name="swar4" value="Ni" id="my5"> Ni &nbsp;</label>
                          <label><input  type="radio" name="swar4" value="Re" id="my6"> Re &nbsp;</label>
                          <label><input  type="radio" name="swar4" value="Dha" id="my7"> Dha</label>

                        </form>
                        <br>
                        <div class="pure-u-1 centering-div">
                          <button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button>
                        </div>
                        <br>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                      </aside>
                    </div>

                    <div class="panel" id="panel5">
                      <div class="pure-u-1-1 centering-div"> </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button>
                      </div>
                      <p>What is the name of the note played?</p>
                      <aside style="background: #e5dcd9">
                        <h3 style="color: #111111">Answer</h3>
                        <form class="pure-form" name="swarr5" id="l5">
                          <br>
                          <br>
                          <label><input  type="radio" name="swar5" value="Sa" id="my1">Sa &nbsp;</label>
                          <label><input  type="radio" name="swar5" value="Pa" id="my2">Pa &nbsp;</label>
                          <label><input  type="radio" name="swar5" value="Ma" id="my3">Ma &nbsp;</label>
                          <label><input  type="radio" name="swar5" value="ga" id="my4">ga &nbsp;</label>
                          <label><input  type="radio" name="swar5" value="ni" id="my5">ni</label>
                        </form>
                        <br>
                        <div class="pure-u-1 centering-div">
                          <button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button>
                        </div>
                        <br>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                      </aside>
                    </div>

                    <div class="panel" id="panel6">
                      <div class="pure-u-1-1 centering-div"> </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button>
                      </div>
                      <p>What is the name of the note played?</p>
                      <aside style="background: #e5dcd9">
                        <h3 style="color: #111111">Answer</h3>
                        <form class="pure-form" name="swarr6" id="l6">
                          <br>
                          <br>
                          <label><input  type="radio" name="swar6" value="Sa" id="my1">Sa &nbsp;</label>
                          <label><input  type="radio" name="swar6" value="Pa" id="my2">Pa &nbsp;</label>
                          <label><input  type="radio" name="swar6" value="Ma" id="my3">Ma &nbsp;</label>
                          <label><input  type="radio" name="swar6" value="re" id="my4">re &nbsp;</label>
                          <label><input  type="radio" name="swar6" value="dha" id="my5">dha</label>
                        </form>
                        <br>
                        <div class="pure-u-1 centering-div">
                          <button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button>
                        </div>
                        <br>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                      </aside>
                    </div>

                    <div class="panel" id="panel7">
                      <div class="pure-u-1-1 centering-div"> </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button>
                      </div>
                      <p>What is the name of the note played?</p>

                      <aside style="background: #e5dcd9">
                        <h3 style="color: #111111">Answer</h3>
                        <form class="pure-form" name="swarr7" id="l7">
                          <br>
                          <br>
                          <label><input  type="radio" name="swar7" value="Sa" id="my1">Sa &nbsp;</label>
                          <label><input  type="radio" name="swar7" value="Pa" id="my2">Pa &nbsp;</label>
                          <label><input  type="radio" name="swar7" value="Ma" id="my3">Ma &nbsp;</label>
                          <label><input  type="radio" name="swar7" value="Ma#" id="my4">Ma#</label>
                        </form>
                        <br>
                        <div class="pure-u-1 centering-div">
                          <button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button>
                        </div>
                        <br>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                      </aside>
                    </div>

                    <div class="panel" id="panel8">
                      <div class="pure-u-1-1 centering-div"> </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button>
                      </div>
                      <div class="pure-u-1-4 centering-div">
                        <button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button>
                      </div>
                      <p>What is the name of the note played?</p>

                      <aside style="background: #e5dcd9">
                        <h3 style="color: #111111">Answer</h3>
                        <form class="pure-form" name="swarr8" id="l8">
                          <br>
                          <br>
                          <label><input  type="radio" name="swar8" value="Sa" id="my1"> Sa &nbsp;</label>
                          <label><input  type="radio" name="swar8" value="Pa" id="my2"> Pa &nbsp;</label>
                          <label><input  type="radio" name="swar8" value="Ma" id="my3"> Ma &nbsp;</label>
                          <label><input  type="radio" name="swar8" value="Ga" id="my4"> Ga &nbsp;</label>
                          <label><input  type="radio" name="swar8" value="Ni" id="my5"> Ni &nbsp;</label>
                          <br>
                          <br>
                          <label><input  type="radio" name="swar8" value="Re" id="my6"> Re &nbsp;</label>
                          <label><input  type="radio" name="swar8" value="Dha" id="my7"> Dha &nbsp;</label>
                          <label><input  type="radio" name="swar8" value="ga" id="my8"> ga &nbsp;</label>
                          <label><input  type="radio" name="swar8" value="ni" id="my9"> ni &nbsp;</label>
                          <label><input  type="radio" name="swar8" value="re" id="my10"> re &nbsp;</label>
                          <br>
                          <br>
                          <label><input  type="radio" name="swar8" value="dha" id="my11"> dha &nbsp;</label>
                          <label><input  type="radio" name="swar8" value="Ma#" id="my12"> Ma#</label>
                        </form>
                        <br>
                        <div class="pure-u-1 centering-div">
                          <button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button>
                        </div>
                        <br>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                        <br>
                        <div class="pure-u-1-4 centering-div"></div>
                      </aside>

                    </div>
                  </div>
                </div>
              </aside>
              <br>
              <br>
              <aside style="background: #596999; color:#ffffff;">
                <h3 style="color: #ffffff">Result</h3>
                <div style="font-size: 20pt, color:#ffffff;" id="answer"></div>
                <div class="pure-u-1-4 centering-div"></div>
                <div style="font-size: 20pt, color:#ffffff;" id="score"></div>
                <div class="pure-u-1-4 centering-div"></div>
              </aside>

            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}


{% block script %}
<script type="text/javascript">
   setTimeout(function () {
    $(".popup-position").addClass("mousetrap-popup").removeClass("popup-position");
        $(".mousetrap-popup").append("<img style='float:right;display:inline-block;padding:2px 5px;width:10px;length:10px;' src='{{ url_for('static', filename='css/1431220516_icon-close-round-16.png') }}' onclick='$(this.parentElement).hide();'></img><div><p style='padding: 0px 20px 0px 20px; font-size: .9em;'>In this experiment, you can use a keyboard to play instead of the mouse. Numbers 1-7 represent the notes Sa-Ni respectively. If you mean to type the modified (vikrit - komal or teevra) version of the note, then press Shift + (1-7).</p></div>");
}, 1500);
</script>
<script type="text/javascript">
    $(function(){
        $('.left-pane, .right-pane').css({ height: $(window).innerHeight() - 95});
        $(window).resize(function(){
        $('.left-pane, .right-pane').css({ height: $(window).innerHeight() - 95});
        });
    });
</script>
<script type="text/javascript" src="/static/js/mousetrap.min.js"></script>
<script type="text/javascript">
  window.onload = function() {
    init();
  };
</script>
{% endblock %}
