{% extends "layout.html" %}

{% block title %} Experiment 15 {% endblock %}
{% block head %}
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<link rel="stylesheet" href="../../static/css/experiment_content.css">
{% endblock %}

{% block content %}
<div id="main">
<div class="container">
     <table>
      <tr style="border-top:1px solid lightgrey">
        <td class="left-pane">
            <div class="left-pane">
                 <div class="header">
                <div class="pure-g">
                  <div class="pure-u-1"><h1>Moorchana</h1></div>
                  <div class="pure-u-1"><h3>Experiment 15</h3></div>
                     </div>
            </div>
                <div class="content" >
              <h2 class="content-subhead">Description</h2>
              <p>This experiment lets you search the different Moorchhanas on various ragas. To use, select a raga. You can select just the aaroha notes, avaroha notes or combined aaroha and avaroha. The reveal button will reveal different other ragas that it is possible to derive by keeping the notes and changing the Shadaj on the notes of the chosen raga. 
              </p>
		<p>Moorchhana is a method through which the Shadaj is changed on a selection of notes. This changes the distances between notes, and therefore the notes that are now interpreted are different from the ones we started with. This technique is immensely helpful in creating melodic variety!
		</p>
            </div>
               </div>
          </td>
  <td class="right-pane">
<div class="right-pane">
  <div style="padding: 10px"> <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
 <!--/button-->
 <a style="float: right; position: relative;" href="{{url_for('render_experiment', num=16)}}">
Next Experiment&nbsp;<i class="fa fa-forward"></i></a></div>
<div class="header">
<aside style="background: #fff1ea; color: #111111">
<br>
Select raga:  <select id="ragas", name="ragas"></select><br><br>
Select category: <select id="category", name="category">
<option value="aaroh">Aaroh</option>
<option value="avroh">Avroh</option>
<option value="both">Both</option>
</select><br><br>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-success" id="submit" onclick="submit()">Reveal</button></div>
<br>


<br>
<aside style="background: #e5dcd9">
<br>
<table id="table" width="100%">
</table>
</div>
</div>
</div>
          </td></tr></table>
</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function(){
    $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
    $(window).resize(function(){
        $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
        });
    });
</script>
<script src="/static/js/jquery.csv-0.71.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/expr15_moorchana.js"></script>
{% endblock %}
