{%  extends "layout.html" %}

{% block title %} Experiment 4 {% endblock %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/experiment_content.css">
{% endblock %}


{% block content %}
<div id="audio">
  <audio id="Sa">
    <source src="/static/stimuli/instruments/santoor/c3.mp3">
  </audio>
  <audio id="re">
    <source src="/static/stimuli/instruments/santoor/cs3.mp3">
  </audio>
  <audio id="Re">
    <source src="/static/stimuli/instruments/santoor/d3.mp3">
  </audio>
  <audio id="ga">
    <source src="/static/stimuli/instruments/santoor/ds3.mp3">
  </audio>
  <audio id="Ga">
    <source src="/static/stimuli/instruments/santoor/e3.mp3">
  </audio>
  <audio id="Ma">
    <source src="/static/stimuli/instruments/santoor/f3.mp3">
  </audio>
  <audio id="#Ma">
    <source src="/static/stimuli/instruments/santoor/fs3.mp3">
  </audio>
  <audio id="Pa">
    <source src="/static/stimuli/instruments/santoor/g3.mp3">
  </audio>
  <audio id="dha">
    <source src="/static/stimuli/instruments/santoor/gs3.mp3">
  </audio>
  <audio id="Dha">
    <source src="/static/stimuli/instruments/santoor/a3.mp3">
  </audio>
  <audio id="ni">
    <source src="/static/stimuli/instruments/santoor/as3.mp3">
  </audio>
  <audio id="Ni">
    <source src="/static/stimuli/instruments/santoor/b3.mp3">
  </audio>
  <audio id="Sat">
    <source src="/static/stimuli/instruments/santoor/c4.mp3">
  </audio>
</div>

<div id="main">

  <div class="container">
    <table>
      <tr style="border-top:1px solid lightgrey">
        <td class="left-pane">
          <div class="left-pane">
            <div class="header">

              <h1> Explore Thaat </h1>
              <h3> Experiment 4</h3>
            </div>
            <div class="content">
              <h2 class="content-subhead">Description</h2>
              <p>

                In this experiment, you will be taught to learn names of notes in each Thaat.
                There are 10 Thaats in Hindustani music. The following are the various Thaats and their corresponding Svars.
                <br>
                Thaats are the bases of Ragas. Most Ragas belong to some Thaat. For example, Yaman belongs to Kalyan Thaat, while Bilaskhani Todi belongs to Todi Thaat.
                Thaats have their own properties.
                Here, you can play through different thaats to get a feel of them!
              </p>
            </div>
              {#    <div class = "container">#}
{#        <div class = "centered" id = "drone"></div>#}
{#        <audio autoplay loop>#}
{#            <source src="drones/clong.mp3" type="audio/mpeg">#}
{#        </audio>#}
{#    </div>#}
          </div>
        </td>
        <td class="right-pane">
          <div class="right-pane">
            <div style="padding: 10px">
              <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
              <!--/button-->
              <a style="float: right; position: relative;" href="{{url_for('render_experiment', num=5)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a>
            </div>
            <div class="header">
              <div class="content">

                <div class="header">
                  <h4>Bilaval Thaat</h4>
                </div>

                <div class="pure-g">

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Re').play()">Re</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ga').play()">Ga</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ma').play()">Ma</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Dha').play()">Dha</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ni').play()">Ni</button>
                  </div>


                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                  </div>

                  <br>
                  <br>

                </div>

                <div class="header">
                  <h4>Kalyan Thaat</h4>
                </div>

                <div class="pure-g">

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Re').play()">Re</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ga').play()">Ga</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('#Ma').play()">#Ma</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Dha').play()">Dha</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ni').play()">Ni</button>
                  </div>


                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                  </div>

                  <br>
                  <br>

                </div>


                <div class="header">
                  <h4>   Khamaj Thaat</h4>
                </div>

                <div class="pure-g">


                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Re').play()">Re</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ga').play()">Ga</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ma').play()">Ma</button>
                  </div>


                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Dha').play()">Dha</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('ni').play()">ni</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                  </div>


                  <br>
                  <br>
                </div>



                <div class="header">
                  <h4>   Bhairav Thaat</h4>
                </div>

                <div class="pure-g">

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('re').play()">re</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ga').play()">Ga</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ma').play()">Ma</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('dha').play()">dha</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ni').play()">Ni</button>
                  </div>


                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                  </div>

                  <br>
                  <br>
                </div>

                <div class="header">
                  <h4>   Poorvi Thaat</h4>
                </div>

                <div class="pure-g">
                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('re').play()">re</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ga').play()">Ga</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('#Ma').play()">#Ma</button>
                  </div>


                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('dha').play()">dha</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ni').play()">Ni</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                  </div>

                </div>



                <div class="header">
                  <h4>   Marwa Thaat</h4>
                </div>

                <div class="pure-g">



                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('re').play()">re</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ga').play()">Ga</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('#Ma').play()">#Ma</button>
                  </div>


                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Dha').play()">Dha</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ni').play()">Ni</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                  </div>
                  <br>
                  <br>

                </div>


                <div class="header">
                  <h4>   Kafi Thaat</h4>
                </div>


                <div class="pure-g">

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Re').play()">Re</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('ga').play()">ga</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ma').play()">Ma</button>
                  </div>


                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Dha').play()">Dha</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('ni').play()">ni</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                  </div>

                  <br>
                  <br>
                </div>




                <div class="header">
                  <h4>   Asavari Thaat</h4>
                </div>


                <div class="pure-g">

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Re').play()">Re</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('ga').play()">ga</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ma').play()">Ma</button>
                  </div>


                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('dha').play()">dha</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('ni').play()">ni</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                  </div>

                </div>

                <div class="header">
                  <h4>   Bhairavi Thaat</h4>
                </div>

                <div class="pure-g">

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('re').play()">re</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('ga').play()">ga</button>
                  </div>

                  <div class="pure-u-3-24">
                    <audio id="Ma">   </static/stimuli/instruments/santoor/f3.mp3>
                    </audio>
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ma').play()">Ma</button>
                  </div>


                  <div class="pure-u-3-24">
                    <audio id="Pa">   </static/stimuli/instruments/santoor/g3.mp3>
                    </audio>
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('dha').play()">dha</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('ni').play()">ni</button>
                  </div>

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                  </div>

                  <br>
                  <br>
                </div>

                <div class="header">
                  <h4>   Todi Thaat</h4>
                </div>

                <div class="pure-g">

                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                  </div>
                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('re').play()">re</button>
                  </div>
                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('ga').play()">ga</button>
                  </div>
                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('#Ma').play()">#Ma</button>
                  </div>
                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                  </div>
                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('dha').play()">dha</button>
                  </div>
                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Ni').play()">Ni</button>
                  </div>
                  <div class="pure-u-3-24">
                    <button class="pure-button button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                  </div>

                </div>

                <br>
                <br>


              </div>
            </div>
        </td>
      </tr>
    </table>
    </div>
  </div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function(){
    $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
    $(window).resize(function(){
        $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
        });
    });
</script>
<script>
$(document).ready(function() {
  ML.collectRetentionAndSave(4);
});
</script>
{% endblock %}
