{% extends "layout.html" %}

{% block title %} Experiment 7 {% endblock %}

{% block head %}
   <link rel="stylesheet" href="../../static/css/experiment_content.css">
<style>
      body {
          background: white
      }
      canvas {
          padding-left: 0;
          padding-right: 0;
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: 100%;
      }
    </style>
{% endblock %}

{% block content %}
<div class="main">
        <div class="container">
            <table>
                <tr style="border-top:1px solid lightgrey">
                    <td class="left-pane">
                        <div class="left-pane">
                    <div class = "header">
                <div class="pure-g">
                    <div class="pure-u-1"> <h1> Trace a Phrase</h1> </div>
                    <div class="pure-u-1"> <h3> Experiment 7</h3> </div>
                </div>
            </div>
            <div class="content">
                <h2 class="content-subhead">Description</h2>
                <p>
This experiment is going to teach you to listen carefully! Click 'Play Phrase' to play a small piece of music. Click on Marker and draw the phrase
                 as you perceive it in the space provided. There are no correct or wrong answers for this, so you can keep drawing phrases and listening to them.
                 If you want to erase a drawing and start fresh, press Eraser and click on the Canvas; then click on Marker again to start drawing!
                 <br>
                 A new phrase will be generated every time you click 'Play Phrase'.
                </p>
            </div>
                        </div>
                    </td>

            <td class="right-pane">
                <div class="right-pane">
            <div style="padding: 10px"> <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
                <a style="float: right; position: relative;" href="{{url_for('render_experiment', num=8)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a><!--/button-->
            </div>
            <div class="header">
                <div class="content">
                  <aside style="background: #fff1ea; color:#111111">
      <h3 style="color: #111111">Question</h3>

<div class="pure-u-1-1 centering-div"> </div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="playrandom()"><i class="fa fa-play"></i>Play Sound</button> </div></aside>

<br>
</div
</div>
                <div class="pure-u-1 centering-div">
                    <div class="tools">
                        <a href="#tools_sketch" data-tool="marker" class="pure-button centered button-secondary">
                            <i class="fa fa-paint-brush"></i> Marker
                        </a>
                        <a href="#tools_sketch" data-tool="eraser" class="pure-button centered button-secondary">
                    <i class="fa fa-eraser"></i> Eraser
                        </a>
                        <a href="#tools_sketch" data-download="png" class="pure-button centered button-secondary">
                            <i class="fa fa-download"></i> Download
                        </a>
                    </div>
                    <canvas id="tools_sketch" height=300px style="border:1px solid #000000;"></canvas>
                </div>
            </div>
                </div>
                    </td>
                </tr></table></div></div>

{% endblock %}


{% block script %}

<script src="{{ url_for('static', filename='js/sketch.js')}}"></script>
<script type="text/javascript">
    $(function(){
    $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
    $(window).resize(function(){
        $('.right-pane .left-pane').css({ height: $(window).innerHeight() - 95});
        });
    });
</script>
<script type="text/javascript">
  window.onload = function() {
    $(function() {
        $('#tools_sketch').sketch();
        $('#tools_sketch').sketch({defaultColor: "#ff0"});
    });
  };
</script>
<script type = "text/javascript">
  function playrandom(){
      var i = Math.floor(Math.random() * 32) + 1;
      var k = Math.floor(Math.random()* 3);
      var j = '/static/stimuli/phrases/pl1_'+ k+ '/' + i + '.mp3';
      var audioElement = document.createElement('audio');
      audioElement.setAttribute('src', j);
      audioElement.play();
  }
  $(document).ready(function() {
    ML.collectRetentionAndSave(7);
  });
</script>
{% endblock %}
