{% extends "layout.html" %}

{% block title %} Experiment 10 {% endblock %}

{% block head %}
<link rel="stylesheet" href="../../static/css/experiment_content.css">
<script src="{{ url_for('static', filename='js/expr8_tanpura.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-2.1.3.min.js')}}"></script>

{% endblock %}

{% block content %}
<div id="main">
  <div class="container">
      <table>
          <tr style="border-top:1px solid lightgrey">
        <td class="left-pane">
          <div class="left-pane">
    <div class="header">
      <div class="pure-g">
        <div class="pure-u-1"><h1> Tune a Tanpura </h1></div>
        <div class="pure-u-1"><h3> Experiment 10 </h3></div>
        </div></div>

      <div class="content">
        <h2 class="content-subhead">Description</h2>
        <p>
          In this experiment,you will learn how to tune a tanpura. There are two
          strings given below, one is the reference string and the other is
          the string to tune.
          <br>
          You can tune the second string to sound like the first by clicking on up and down until you think
          the two notes are the same!
          <br>
          The slider will describe how much or how suddenly you want to detune. The
          feedback is given below as soon as you press the up and down arrow.
        </p>
      </div>
            </div></td>
              <td class="right-pane">
                  <div class="right-pane">
                      <div style="padding: 10px"> <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
              <!--/button-->
              <a style="float: right; position: relative;" href="{{url_for('render_experiment', num=11)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a></div>
      <div class="header">
        <div class="content">

          <aside style="background: #fff1ea; color:#111111">
            <h3 style="color: #111111">Question</h3>
            <div class="pure-u-1-1 centering-div"></div>

            <div class="pure-u-1-4 centering-div">
              <button value="play" class="pure-button button-secondary off" id="btn1"
                style="height: 65px;">
                <i class="fa fa-play fa-2x"></i>
                <i class = "fa fa-pause fa-2x"></i>
              </button>
              <p> Play reference </p>
            </div>

            <div class="pure-u-1-4 centering-div">
              <button value="play" class="pure-button button-secondary off" id="btn2"
                style="height: 65px;">
                <i class="fa fa-play fa-2x"></i>
                <i class = "fa fa-pause fa-2x"></i>
              </button>
              <p> Play tone </p>
            </div>
            <br>
          </aside>
          <br><br>

          <div class="content">
            <aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>
            <div class="pure-u-1-1 centering-div"></div>

            <div class="pure-u-1-4 centering-div">
              <p>Start Again</p>
              <br>
              <button class="start pure-button button-error" onclick = "check()"><a href="javascript:history.go(0)">Start Afresh</a></button>
            </div>

            <div class="pure-u-1-4 centering-div">
              <div id="incdec">
                <p> Click here to tune </p>
                <button onclick="guess_up_clicked()" class="pure-button"
                  style="color: #000;">
                  <i class="fa fa-arrow-up"></i>
                </button>
                <button onclick="guess_down_clicked()" class="pure-button"
                  style="color: #000;">
                  <i class="fa fa-arrow-down"></i>
                </button>
              </div>
            </div>

            <div class="pure-u-1-4 centering-div">
              <form class="pure-form">
                <p> Set the detune value </p>
                <input type="range" value="5" min="0" max="10" step="5" id="step-size" onchange="showValue(this.value)" style="-webkit-appearance: initial;"/>
                <span id="range">5</span>
              </form>
            </div>
<br><br>
            <aside style="background: #596999;">
              <div class="pure-u-1-4 centering-div">
                <p style="color: #ffffff">Result</p>
                <div id="demo"></div>
              </div>
            </aside>
          </aside>
        </div> <!-- end .content div -->

      </div> <!-- end .container div -->
                      </div> </div></td></tr></table>
    </div>
</div>
<script type="text/javascript">
function showValue(newValue)
{
	document.getElementById("range").innerHTML=newValue;
}
</script>
</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

$( "#btn1" ).click(function() {
$( "i" ).toggle();
});
$( "#btn2" ).click(function() {
$( "i" ).toggle();
});
</script>

{% endblock %}
