{% extends "layout.html" %}

{% block title %} Experiment 8 {% endblock %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/experiment_content.css">
{% endblock %}

{% block content %}

<div id = "main">
<div class = "container">
    <table>
        <tr style="border-top:1px solid lightgrey">
            <td class="left-pane">
                <div class="left-pane">
    <div class = "header">
<div class="pure-g">
    <div class="pure-u-1"> <h1> Tabla Exploration</h1> </div>
    <div class="pure-u-1"> <h3> Experiment 8</h3> </div>
</div>
<div id="layer">

	</aside>
</div>
<div id="layer">
        </div></div>
<div class="content">
 <h2 class="content-subhead">Description</h2>
            <p>
              In the picture are the two drums - Tabla and Dagga. Tabla has a sharp, resonant sound, while Dagga has a low bass sound.
              <br>
              In this experiment, you will have to identify whether the two tones you hear are played on Tabla or Dagga or both.
              <br>
              In tabla taals, we associate the 'sam' with the fuller sounds of dagga and tabla both, whereas the khali sounds are associated with just the tabla hand.
              If you are learning to sing or play a melodic instrument, this experiment will teach you how to keep an ear on the tabla by knowing how tabla and dagga sounds feel!
              <br>
              Clicking on 'submit' will automatically generate a new question!                         </p>
                    </div>
                </div>
            </td>
            <td class="right-pane">
               <div class="right-pane">
                    <div style="padding: 10px"> <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
              <!--/button-->
                <a style="float: right; position: relative;" href="{{url_for('render_experiment', num=9)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a><!--/button-->
                </div>
                   <div class="header">
                       <div class="content">
                         <aside style="background: #fff1ea; color:#111111">
             <h3 style="color: #111111">Question</h3>

<div class="pure-u-1-1 centering-div"> </div>
		<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="playsound()"><i class="fa fa-play"></i>Play Sound</button> </div></aside>

<br>

<br>
<aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>
    <form class="pure-form" name="swarr1" id="l1">
<label><input type="radio" name="swar1" value="Both Tabla" id="my1"> Both Tabla &nbsp;</label>
  <label><input type="radio" name="swar1" value="Both Dagga" id="my2"> Both Dagga &nbsp;</label>
    <label><input type="radio" name="swar1" value="Tabla and Dagga" id="my3"> Tabla and Dagga</label>
</form>
<br>
<br>
<br>
<div class="pure-u-1 centering-div"><button class="pure-button centered option button-secondary" onclick="submit()">Submit</button> </div>
<br>
<br>
</aside>
<aside style="background: #596999; color:#ffffff;">
            <h3 style="color: #ffffff">Result</h3>
            <div style="font-size: 20pt, color:#ffffff;" id="answer"></div>
            <div class="pure-u-1-4 centering-div"></div>
            <div style="font-size: 20pt, color:#ffffff;" id="score"></div>
           <div class="pure-u-1-4 centering-div"></div>
            </aside>
<!--div class="pure-u-1-4 centering-div"></div>
<div id="answer" style="font-size: 20pt;"></div>
<br>
<div class="pure-u-1-4 centering-div"></div>
<div id="score" style="font-size: 20pt;"></div-->
</div>
</div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">


    $(function(){
  $('.left-pane, .right-pane').css({ height: $(window).innerHeight() - 95});
  $(window).resize(function(){
    $('.left-pane, .right-pane').css({ height: $(window).innerHeight() - 95});
  });
});
</script>
<script src="{{ url_for('static', filename='js/expr9_tabla.js')}}"></script>
{% endblock %}
