{% extends "layout.html" %}

{% block title %} Experiment 9 {% endblock %}
{% block head %}
  <link rel="stylesheet" href="../../static/css/experiment_content.css">
<link rel = "stylesheet" href="../../static/css/columns.css">

{% endblock %}

{% block content %}

<div id = "main">
<div class = "container">
<table>
    <tr style="border-top:1px solid lightgrey">
    <td class="left-pane">
        <div class="left-pane">
    <div class = "header">
<div class="pure-g">
    <div class="pure-u-1"> <h1> Listen to various bols</h1> </div>
    <div class="pure-u-1"> <h3> Experiment 9</h3> </div>
        </div></div>

<div class="content">
 <h2 class="content-subhead">Description</h2>
            <p>
Tabla playing involves not just rhythm and beats but is also about the poetry of the sound of these beats.
How to identify what is the tabla saying? This experiment will help you with that!
Click on the different bols to hear the sounds of the bol, and a picture showing how the tabla is struck to produce that bol.
<br>
This is just an exploration experiment.
          </p>

</div>


        </div></td>
<td class="right-pane">
    <div class="right-pane">
        <div style="padding: 10px"> <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
              <!--/button-->
              <a style="float: right; position: relative;" href="{{url_for('render_ragadb')}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a></div>
        <div class="header">
        <aside style="background: #fff1ea; color:#111111">
<h4>Tabla Bols</h4>
<div class = "container">
<div class="container">
<div class="pure-g">
	<div class="pure-u-1-2" style="width: 25%">
        <button class="pure-button centered option button-secondary" onclick="playbol_dha()">Dha</button>
		<br><br>
        <button class="pure-button centered option button-secondary" onclick="playbol_ge()">Ge</button>
		<br><br>
        <button class="pure-button centered option button-secondary" onclick="playbol_ka()">Ka</button>

    </div>
    <div class="pure-u-1-2" style="width: 25%">
        <button class="pure-button centered option button-secondary" onclick="playbol_dhin()">Dhin</button>
      	<br><br>
  		<button class="pure-button centered option button-secondary" onclick="playbol_tuh()">Tuh </button>
      	<br><br>
   		<button class="pure-button centered option button-secondary" onclick="playbol_taka()">Taka</button>

    </div>

	<div class="pure-u-1-2" style="width: 25%">
        <button class="pure-button centered option button-secondary" onclick="playbol_na()">Na</button>
		<br><br>
        <button class="pure-button centered option button-secondary" onclick="playbol_re()">Re</button>
      	<br><br>
      	<button class="pure-button centered option button-secondary" onclick="playbol_ta()">Ta</button>
	</div>
  <div class="pure-u-1-2" style="width: 25%">
        <button class="pure-button centered option button-secondary" onclick="playbol_tita()">Tita </button>
        <br><br>
        <button class="pure-button centered option button-secondary" onclick="playbol_tun()">Tun</button>
        <br><br>
        <button class="pure-button centered option button-secondary" onclick="playbol_tin()">Tin</button>
        <br><br>
        <button class="pure-button centered option button-secondary" onclick="playbol_dhir()">Dhir</button>

  </div>
</div></div></div>
</aside>
<aside style="background: #e5dcd9">
<div class ="pure-g">
    <div class = "pure-u-1-1">
      <canvas id="figures" height=300px width=400px>
        <div id = "images">
          <img id = "dha" src = '../../static/figures/dha.jpg'  height="100" width="280" />
          <img id = "dhin" src = '../../static/figures/dhin.jpg' height="100" width="280"/>
          <img id = "ge" src = '../../static/figures/ghe.jpg' height="100" width="280" />
          <img id = "ghe2" src = '../../static/figures/ghe2.jpg' height="100" width="280" />
          <img id = "ke" src = '../../static/figures/ke.jpg' height="100" width="280" />
          <img id = "re" src = '../../static/figures/re.jpg' height="100" width="280" />
          <img id = "ta" src = '../../static/figures/ta.jpg' height="100" width="280" />
          <img id = "taka" src = '../../static/figures/taka.jpg' height="100" width="280" />
          <img id = "tita" src = '../../static/figures/tita.jpg' height="100" width="280" />
          <img id = "te" src = '../../static/figures/te.jpg' height="100" width="280" />
          <img id = "tuh" src = '../../static/figures/tuh.jpg' height="100" width="280" />
          <img id = "tun" src = '../../static/figures/tun.jpg' height="100" width="280" />
        </div>

           </canvas>

    </div>
    </div>

</aside>
</div>


<!-- <div class = "right">
  <a class="pure-button button-xlarge" href="{{url_for('render_experiment', num=10)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a><!--/button-->
    </aside> </div></div></td></tr> </table>
</div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(function(){
    $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
    $(window).resize(function(){
        $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
        });
    });
</script>

<script src="{{ url_for('static', filename='js/expr10_bols.js')}}"></script>
{% endblock %}
