{% extends "layout.html" %}

{% block title %} Experiment 16 {% endblock %}
{% block head %}
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<link rel="stylesheet" href="../../static/css/experiment_content.css">
{% endblock %}

{% block content %}
<div id="main">
<div class="container">
     <table>
      <tr style="border-top:1px solid lightgrey">
        <td class="left-pane">
            <div class="left-pane">
                 <div class="header">
                <div class="pure-g">
                  <div class="pure-u-1"><h1>Alankaar</h1></div>
                  <div class="pure-u-1"><h3>Experiment 16</h3></div>
                     </div>
            </div>
                <div class="content" >
              <h2 class="content-subhead">Description</h2>
              <p>Press the 'Surprise Me' button to get an alankaar to sing! Sing many alankaars of different types to diversify your vocal or instrumental dexterity. Soon introducing another feature for singing an alankaar in a particular raga. Good luck!
              </p>

            </div>
               </div>
          </td>
  <td class="right-pane">
<div class="right-pane">
  <div style="padding: 10px"> <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
 <!--/button-->
 <a style="float: right; position: relative;" href="{{url_for('render_experiment', num=1)}}">
Next Experiment&nbsp;<i class="fa fa-forward"></i></a></div>
<div class="header">
<aside style="background: #fff1ea; color: #111111">
<br>
<div class="pure-menu pure-menu-open pure-menu-horizontal">
<ul id="level-selector">
	<li value="1"><a class="flip" href="#panel1">Pick raga</a></li>
	<li value="2"><a class="flip" href="#panel2">Surprise me!</a></li>
</ul>
</div>
<br>
<div id="Container">
	<div id="layer">
		<div class="panel" id="panel2">
			<div class="pure-u-1-1 centering-div"> </div>
			<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-success" id="generate_random" onclick="generate_random()">Surprise me!</button></div>
			<p id="alankaar"></p>
		</div>
		<div class="panel" id="panel1">
			<div class="pure-u-1-1 centering-div"> </div>
		</div>
	</div>
</div>
</aside>





{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function(){
    $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
    $(window).resize(function(){
        $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
        });
    });
</script>
<script src="/static/js/jquery.csv-0.71.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/expr16_alankaar.js"></script>
{% endblock %}
