{%  extends "layout.html" %}

{% block title %} Experiment 3 {% endblock %}

{% block head %}

    <link rel="stylesheet" href="../../static/css/experiment_content.css">

{% endblock %}

{% block content %}

<div id="main">

  <div class="container">
    <table id="frame">
      <tr style="border-top:1px solid lightgrey">
        <td class="left-pane">
          <div class="left-pane">

            <div class="header">
              <div class="pure-g">

                <div class="pure-u-1">
                  <h1> Explore Sargam </h1> </div>
                <div class="pure-u-1">
                  <h3> Tutorial + Experiment 3</h3> </div>
              </div>

            </div>

            <div class="content">
              <h2 class="content-subhead">Description</h2>
              <p>
                In this experiment, you will be taught to learn names of notes and some notation.
                <br>
                In Hindustani music, we have 7 note names: Sa, Re, Ga, Ma, Pa, Dha, Ni, Sa.
                After Sa Re Ga Ma Pa Dha Ni Sa, there is again Re Ga Ma Pa... but only higher.                <br>
                Try playing different notes with the same name. These are called octave - or Saptak
                <br>
                This experiment will teach you more about the organization of pitches in Hindustani Music.
                If you want, you could also play a song you like on this note-based keyboard.
                </p>


                <p>
                These notes are called "Shuddha Svar" or pure notes. We have 5 more notes to make a total of twelve. We divide these 12 notes into two categories: Shuddha (pure svar) and Vikrit Svara (modified svar). In the Bilaval scale below, there are only Shuddha Svaras.

              </p>

            </div>
          </div>
        </td>

        <td class="right-pane">
          <div class="right-pane">
            <div style="padding: 10px"> <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
              <!--/button-->
              <a style="float: right; position: relative;" href="{{url_for('render_experiment', num=4)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a></div>
              
              <div id="Container">
                <div id="layer">
                  <div class="panel" id="panel1">
                    <div class="container">
                      <div class="pure-g">
                        <div class="pure-u-1-6 centering-div"></div>
                        <div class="pure-u-1-6 centering-div"></div>
                        <div class="pure-u-1-6 centering-div">
                          <button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tanpura</button>
                        </div>
                        <div class="pure-u-1-6 centering-div">
                          <button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tanpura</button>
                        </div>
                        <div class="pure-u-1-6 centering-div"></div>
                        <div class="pure-u-1-6 centering-div"></div>
                      </div>
                    </div>

                    <div class="header">
                      <h4>    Bilaval Svar
                </h4></div>

                    <div class="container">
                      <div class="pure-g">
                        <div class="pure-u-5-24"></div>
                        <div class="pure-u-2-24">Kharaj</div>
                        <div class="pure-u-5-24"></div>
                        <div class="pure-u-2-24">Madhya</div>
                        <div class="pure-u-5-24"></div>
                        <div class="pure-u-2-24">Taar</div>
                      </div>
                    </div>

                  </div>
                    <div class="pure-g">

                      <div class="pure-u-2-24">
                        <audio id="Pak">
                          <source src="/static/stimuli/instruments/santoor/g2.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Pak').play()">Pa</button>
                      </div>

                      <div class="pure-u-2-24">
                        <audio id="Dhak">
                          <source src="/static/stimuli/instruments/santoor/a2.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Dhak').play()">Dha</button>
                      </div>

                      <div class="pure-u-2-24">
                        <audio id="Nik">
                          <source src="/static/stimuli/instruments/santoor/b2.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Nik').play()">Ni</button>
                      </div>

                      <div class="pure-u-2-24">
                        <audio id="Sa">
                          <source src="/static/stimuli/instruments/santoor/c3.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                      </div>

                      <div class="pure-u-2-24">
                        <audio id="Re">
                          <source src="/static/stimuli/instruments/santoor/d3.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Re').play()">Re</button>
                      </div>

                      <div class="pure-u-2-24">
                        <audio id="Ga">
                          <source src="/static/stimuli/instruments/santoor/e3.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Ga').play()">Ga</button>
                      </div>

                      <div class="pure-u-2-24">
                        <audio id="Ma">
                          <source src="/static/stimuli/instruments/santoor/f3.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Ma').play()">Ma</button>
                      </div>

                      <div class="pure-u-2-24">
                        <audio id="Pa">
                          <source src="/static/stimuli/instruments/santoor/g3.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                      </div>

                      <div class="pure-u-2-24">
                        <audio id="Dha">
                          <source src="/static/stimuli/instruments/santoor/a3.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Dha').play()">Dha</button>
                      </div>

                      <div class="pure-u-1-24">
                        <audio id="Ni">
                          <source src="/static/stimuli/instruments/santoor/b3.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Ni').play()">Ni</button>
                      </div>

                      <div class="pure-u-2-24">
                        <audio id="Sat">
                          <source src="/static/stimuli/instruments/santoor/c4.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                      </div>

                      <div class="pure-u-1-24">
                        <audio id="Ret">
                          <source src="/static/stimuli/instruments/santoor/d4.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Ret').play()">Re</button>
                      </div>

                      <div class="pure-u-2-24">
                        <audio id="Gat">
                          <source src="/static/stimuli/instruments/santoor/e4.mp3">
                        </audio>
                        <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Gat').play()">Ga</button>
                      </div>

                    </div>

                    <br>
                  </div>

                    <h2 class="content-subhead"></h2>
                    <aside style="background:#fff1ea; color:#111111;">
                      <p>
                        The 4 svaras that have komal forms are: Re, Ga, Dha, Ni. Sa, Pa are achal svaras. Ma is the only exception with a Teevra Ma as its vikrit form. There are no teevra forms to Re, Ga, Dha, Ni.
                      </p>
                    </aside>

                  </div>


                    <div>
                      <aside style="background:#fff1ea; color:#111111;">
                        <p>
                          Other than Shuddha Svara, Vikrit Svaras are of two types: Komal and Teevra. Komal is the same as the western "Flat" and Teevra the same as the western "Sharp". Not all notes can be Komal or Teevra though. Sa (Shadaj) and Pa (Pancham) are called "Achal" svaras. It means that they don't have komal or teevra forms.
                        </p>
                      </aside>
                    </div>

                    <br>
                    <div class="header">
                      <h4>   Bhairav Svar</h4>
                    </div>
                    <div class="l-content">
                      <div class="container">
                        <div class="pure-g">
                          <div class="pure-u-5-24"></div>
                          <div class="pure-u-2-24">Kharaj</div>
                          <div class="pure-u-5-24"></div>
                          <div class="pure-u-2-24">Madhya</div>
                          <div class="pure-u-5-24"></div>
                          <div class="pure-u-2-24">Taar</div>
                        </div>
                         <br>

                        <div class="pure-g">

                          <div class="pure-u-2-24">
                            <audio id="Pak">
                              <source src="/static/stimuli/instruments/santoor/g2.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Pak').play()">Pa</button>
                          </div>
                          <div class="pure-u-2-24">
                            <audio id="dhak">
                              <source src="/static/stimuli/instruments/santoor/gs2.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('dhak').play()">dha</button>
                          </div>
                          <div class="pure-u-2-24">
                            <audio id="Nik">
                              <source src="/static/stimuli/instruments/santoor/b2.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Nik').play()">Ni</button>
                          </div>
                          <div class="pure-u-2-24">
                            <audio id="Sa">
                              <source src="/static/stimuli/instruments/santoor/c3.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                          </div>
                          <div class="pure-u-2-24">
                            <audio id="re">
                              <source src="/static/stimuli/instruments/santoor/cs3.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('re').play()">re</button>
                          </div>
                          <div class="pure-u-2-24">
                            <audio id="Ga">
                              <source src="/static/stimuli/instruments/santoor/e3.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Ga').play()">Ga</button>
                          </div>
                          <div class="pure-u-2-24">
                            <audio id="Ma">
                              <source src="/static/stimuli/instruments/santoor/f3.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Ma').play()">Ma</button>
                          </div>
                          <div class="pure-u-2-24">
                            <audio id="Pa">
                              <source src="/static/stimuli/instruments/santoor/g3.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                          </div>
                          <div class="pure-u-2-24">
                            <audio id="dha">
                              <source src="/static/stimuli/instruments/santoor/gs3.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('dha').play()">dha</button>
                          </div>
                          <div class="pure-u-2-24">
                            <audio id="Ni">
                              <source src="/static/stimuli/instruments/santoor/b3.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Ni').play()">Ni</button>
                          </div>
                          <div class="pure-u-2-24">
                            <audio id="Sat">
                              <source src="/static/stimuli/instruments/santoor/c4.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                          </div>
                          <div class="pure-u-1-24">
                            <audio id="ret">
                              <source src="/static/stimuli/instruments/santoor/cs4.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('ret').play()">re</button>
                          </div>
                          <div class="pure-u-1-24">
                            <audio id="Gat">
                              <source src="/static/stimuli/instruments/santoor/e4.mp3">
                            </audio>
                            <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Gat').play()">Ga</button>
                          </div>
                        </div>
                        <aside style="background:#fff1ea; color:#111111;">
                          <p>
                            We write Shuddha Svars with the first letter capital like so: "Re, Ga, Ma, Pa". We write Komal Svaras with first letter lower case like so: "re, ga, dha, ni".
                            <p>
                              This convention will be followed throughout this lab.
                            </p>
                          </p>
                        </aside>
                      </div>
                        <div class="content">

                          <div class="header">
                            <h4>   All Svar
                 </h4></div>
               </div>
                          <div class="pure-g">
                            <div class="pure-u-6-24">Kharaj</div>
                            <div class="pure-u-12-24">Madhya</div>
                            <div class="pure-u-6-24">Taar</div>
                          </div>

                          <div class="pure-g">
                            <div class="pure-u-1-24">
                              <audio id="Pak">
                                <source src="/static/stimuli/instruments/santoor/g2.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Pak').play()">Pa</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="dhak">
                                <source src="/static/stimuli/instruments/santoor/gs2.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('dhak').play()">dha</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Dhak">
                                <source src="/static/stimuli/instruments/santoor/a2.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Dhak').play()">Dha</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="nik">
                                <source src="/static/stimuli/instruments/santoor/as2.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('nik').play()">ni</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Nik">
                                <source src="/static/stimuli/instruments/santoor/b2.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Nik').play()">Ni</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Sa">
                                <source src="/static/stimuli/instruments/santoor/c3.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Sa').play()">Sa</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="re">
                                <source src="/static/stimuli/instruments/santoor/cs3.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('re').play()">re</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Re">
                                <source src="/static/stimuli/instruments/santoor/d3.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Re').play()">Re</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="ga">
                                <source src="/static/stimuli/instruments/santoor/ds3.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('ga').play()">ga</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Ga">
                                <source src="/static/stimuli/instruments/santoor/e3.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Ga').play()">Ga</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Ma">
                                <source src="/static/stimuli/instruments/santoor/f3.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Ma').play()">Ma</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Ma#">
                                <source src="/static/stimuli/instruments/santoor/fs3.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Ma#').play()">Ma#</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Pa">
                                <source src="/static/stimuli/instruments/santoor/g3.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Pa').play()">Pa</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="dha">
                                <source src="/static/stimuli/instruments/santoor/gs3.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('dha').play()">dha</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Dha">
                                <source src="/static/stimuli/instruments/santoor/a3.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Dha').play()">Dha</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="ni">
                                <source src="/static/stimuli/instruments/santoor/as3.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('ni').play()">ni</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Ni">
                                <source src="/static/stimuli/instruments/santoor/b3.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Ni').play()">Ni</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Sat">
                                <source src="/static/stimuli/instruments/santoor/c4.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Sat').play()">Sa</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="ret">
                                <source src="/static/stimuli/instruments/santoor/cs4.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('ret').play()">re</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Ret">
                                <source src="/static/stimuli/instruments/santoor/d4.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Ret').play()">Re</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="gat">
                                <source src="/static/stimuli/instruments/santoor/ds4.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('gat').play()">ga</button>
                            </div>
                            <div class="pure-u-1-24">
                              <audio id="Gat">
                                <source src="/static/stimuli/instruments/santoor/e4.mp3">
                              </audio>
                              <button class="pure-button centered option button-secondary3" onclick="document.getElementById('Gat').play()">Ga</button>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript">


    $(function(){
  $('.left-pane, .right-pane').css({ height: $(window).innerHeight() - 95});
  $(window).resize(function(){
    $('.left-pane, .right-pane').css({ height: $(window).innerHeight() - 95});
  });
});
</script>
<!--script type="text/javascript" src="{{ url_for('static',
  filename='js/expr1_pitchdisc.js') }}"></script-->
<script>
$(document).ready(function() {
  ML.collectRetentionAndSave(3);
});
</script>

<script type = "text/javascript">
drone_elem = document.createElement('audio');
drone_elem.setAttribute('src', '/static/drones/3.mp3');


function play_tonic() {
  drone_elem.play();
}

function stop_tonic() {
  drone_elem.pause();
}
</script>
{% endblock %}
