{% extends "layout.html" %}

{% block title %} Experiment 2 {% endblock %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/experiment_content.css">
{% endblock %}

{% block content %}
<div id="main">
  <div class="container">
    <table>
      <tr style="border-top:1px solid lightgrey">
        <td class="left-pane">
          <div class="left-pane">
            <div class="header">
              <div class="pure-g">

                <div class="pure-u-1">
                  <h1> Pitch Direction</h1> </div>
                <div class="pure-u-1">
                  <h3> Experiment 2</h3> </div>
              </div>
            </div>


            <div class="content">
              <h2 class="content-subhead">Description</h2>
              <p>
                Now that you know whether two pitches are the same or different, can you tell which one is higher?
                Remember - a higher pitch sounds shriller than a low pitch!
                <br>
                To play, press "Play tone 1" and "Play tone 2" and click on the answer you think is appropriate!
                <br>
                To play in different instruments, pick from the 'Choose Instrument' dropdown menu.
                After clicking 'Submit', the system will automatically generate a new question for you!

              </p>

            </div>
          </div>
        </td>
        <td class="right-pane">
          <div class="right-pane">

            <div style="padding: 10px"> <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
              <!--/button-->
              <a style="float: right; position: relative;" href="{{url_for('render_experiment', num=3)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a></div>
            <div class="header">
              <div class="content">

                <aside style="background: #fff1ea; color:#111111">

                  <h3 style="color: #111111">Question</h3>
                  <form class="pure-form" name="swar">
   <h5><label for="state" style = "color: #111111">Choose Instrument</label></h5>
           <select name ="state" id="ins" class="pure-input-2-3" onchange="init()">
            <option value = "1">Santoor</option>
            <option value = "2">Shehnai</option>
            <option value = "3">Harmonium</option>
	    <option value = "4">Flute</option>
	    <option value = "5">Sitar</option>
</select>
    </h5>
                  </form>

                  <div class="pure-u-1-1 centering-div"> </div>
                  <div class="pure-u-1-4 centering-div">
                    <button class="pure-button centered
      option button-secondary" onclick="playsound1()"><i class="fa
        fa-play"></i>&nbsp;Play Tone 1</button>
                  </div>
                  <div class="pure-u-1-4 centering-div">
                    <button class="pure-button centered
      option button-secondary" onclick="playsound2()"><i class="fa
        fa-play"></i>&nbsp;Play Tone 2</button>
                  </div>

                  <br><br>
                  <div class="content" style="color: #111111">
                    Is tone 1 higher than tone 2 or vice versa?
                  </div>
                </aside>


                <br>
                <br>

                <div class="content">

                  <aside style="background: #e5dcd9">

                    <h3 style="color: #111111">Answer</h3> {#
                    <div class="pure-u-1-1 centering-div"></div>#}

                    <div class="pure-u-1-4 centering-div">
                      <button class="pure-button centered option button-success" onclick="Tone1()">Tone 1 Higher</button>
                    </div>
                    <div class="pure-u-1-4 centering-div">
                      <button class="pure-button centered option button-success" onclick="Tone2()">Tone 2 Higher</button>
                    </div>
                    <br>
                    <br>
                    <div class= 'content'>
                      <aside style="background: #596999; width:30%%; height:5%; display: inline-block;">
                        <p style="color: #ffffff">Result:</p>
                        <div class="pure-u-1-4 centering-div"></div>
                        <div id="div1-1" style="font-size: 15pt; color: #ffffff"></div>
                        <div class="pure-u-1-4 centering-div"></div>
                        <div id="div1-2" style="font-size: 15pt; color: #ffffff"></div>
                    </div>

                    </aside>
                  </aside>
                </div>
              </div>
              {#<div class="exprmnt-btn-wrapper">#}
              {##}
              {#</div>#}
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function(){
    $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
    $(window).resize(function(){
        $('.right-pane, .left-pane').css({ height: $(window).innerHeight() - 95});
        });
    });
</script>
<script src="{{ url_for('static', filename='js/expr2_pitchdir.js')}}"></script>
<script type="text/javascript">
    window.onload=function()
    {
	   init();
    }
</script>
{% endblock %}
