{% extends "layout.html" %}

{% block title %} Experiment 13 {% endblock %}

{% block head %}

    <script src="{{ url_for('static', filename='js/expr13_instrumentquiz.js')}}"></script>
    <link rel="stylesheet" href="../../static/css/experiment_content.css">
    <style>
      .active a { color: black; }
      .panel {
        display: none;
      };
      </style>
    <script src="{{ url_for('static', filename='js/expr13_instrumentquiz.js')}}"></script>
{% endblock %}

{% block content %}

<div id="main">

<div class = "container">
<table>
   <tr style="border-top:1px solid lightgrey">
        <td class="left-pane">
            <div class="left-pane">
                <div class="header">
                    <div class="pure-g">
                    <div class="pure-u-1"> <h1> Instrument Quiz </h1> </div>
                    <div class="pure-u-1"> <h3> Experiment 13</h3> </div>
                </div></div>

                <div class="content">
                  <h2 class="content-subhead">Description</h2>
                    <p>
                    Identify the name and category of the instrument played.
                    Choose an answer from the options - which instrument do you think it is? Then click submit.
                        <p>
                      There are 2 levels - you have to identify the category of the instrument in the first level and the name in the second.
                        </p>
                 </p>

                </div>
</td>
<td class="right-pane">
<div class="right-pane">
<div style="padding: 10px"> <a style="float: left;" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
<!--/button-->
<a style="float: right; position: relative;" href="{{url_for('render_experiment', num=14)}}">
Next Experiment&nbsp;<i class="fa fa-forward"></i></a></div>
             <div class="header">
             <aside style="background: #fff1ea; color:#111111">
             <h3 style="color: #111111">Question</h3>
                         <div style="display: none" id="hideAll">&nbsp;</div><div style="display: none" id="hideAll">&nbsp;</div>

            <div class="pure-menu pure-menu-open pure-menu-horizontal">
              <ul id="level-selector">
                <li value="1"><a class="flip" href="#panel1">Level1</a></li>
                <li value="2"><a class="flip" href="#panel2">Level2</a></li>
              </ul>
            </div>
            <br>
            <br>


            <div id="Container">
            <div id="layer">

            <div class = "panel" id = "panel1">
            <div class="pure-u-1-1 centering-div"> </div>
            <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button> </div>

                <p>Which category does this instrument belong to?</p>
            <aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>

            <br>
	    <div class="pure-menu pure-menu-open pure-menu-horizontal" style="background: transparent">
	    <form>
	    <input type="radio" name="cat" style="background:#ffffff;color:#000000" value="avanadh"> Avanadh </button></li>&nbsp;
	    <input type="radio" name="cat" style="background:#ffffff;color:#000000" value="ghan"> Ghan </button></li>&nbsp;
	    <input type="radio" name="cat" style="background:#ffffff;color:#000000" value="sushir"> Sushir </button></li>&nbsp;
	    <input type="radio" name="cat" style="background:#ffffff;color:#000000" value="tat"> Tat </button></li>&nbsp;
	    <input type="radio" name="cat" style="background:#ffffff;color:#000000" value="vitat"> Vitat </button></li>&nbsp;

	    </form>
            <br>
	    </div>
	    <br>

	    <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-success" id="submit" onclick="submit()">Submit</button></div>
<br>
<br>
<div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-error" id="show" onclick="showanswer()">Show Answer</button>
</div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-warning" id="next" onclick="next()">Next question</button></div>
<br>

            </aside>
            </div>


            <div class = "panel" id = "panel2">
            <div class="pure-u-1-1 centering-div"> </div>
            <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button> </div>
            <p>Which category does this instrument belong to and what is its name?</p>
            <aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>
            <br>
            <br><div class="pure-menu pure-menu-open pure-menu-horizontal" width="50%" style="background: #e5dcd9">
              <ul id="category2">
                <li value="1"><a class="flip2" href="#avanadh">Avanadh</a></li>&nbsp;
                <li value="2"><a class="flip2" href="#ghan">Ghan</a></li>&nbsp;
                <li value="3"><a class="flip2" href="#sushir">Sushir</a></li>&nbsp;
                <li value="4"><a class="flip2" href="#tat">Tat</a></li>&nbsp;
                <li value="5"><a class="flip2" href="#vitat">Vitat</a></li>&nbsp;
              </ul>
            </div>
            <br>

	    <div id="Container">
	    <div id="layer">
	    <div class="panel" id="avanadh">
	    <div class="pure-u-1-1 centering-div"></div>
	    <form id="ins1">
	    <div class="pure-menu pure-menu-open pure-menu-horizontal" style="background: transparent">
	    <ul name="instruments">
	    </ul>
	    <br>
	    </div>
	    </form>
	    </div>
	    <div class="panel" id="ghan">
	    <div class="pure-u-1-1 centering-div"></div>
	    <form id="ins2">
	    <div class="pure-menu pure-menu-open pure-menu-horizontal" style="background: transparent">
	    <ul name="instruments">
	    </ul>
	    <br>
	    </div>
	    </form>
	    </div>

	    <div class="panel" id="sushir">
	    <div class="pure-u-1-1 centering-div"></div>
	    <form id="ins3">
	    <div class="pure-menu pure-menu-open pure-menu-horizontal" style="background: transparent">
	    <ul name="instruments">
	    </ul>
	    <br>
	    </div>
	    </form>
	    </div>

	    <div class="panel" id="tat">
	    <div class="pure-u-1-1 centering-div"></div>
	    <form id="ins4">
	    <div class="pure-menu pure-menu-open pure-menu-horizontal" style="background: transparent">
	    <ul name="instruments">
	    </ul>
	    <br>
	    </div>
	    </form>
	    </div>

	    <div class="panel" id="vitat">
	    <div class="pure-u-1-1 centering-div"></div>
	    <form id="ins5">
	    <div class="pure-menu pure-menu-open pure-menu-horizontal" style="background: transparent">
	    <ul name="instruments">
	    </ul>
	    <br>
	    </div>
	    </form>
	    </div>
	    <br>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-success" id="submit" onclick="submit()">Submit</button></div>
<br>
<br>
<div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-error" id="show" onclick="showanswer()">Show Answer</button>
</div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-warning" id="next" onclick="next()">Next question</button></div>
<br>
<br>

            <br>
            <br>
            </aside>

<br>
	    </div>
</div>
</div>
</div>
<br>
<div class = content>
<aside style="background: #596999" align="center">
    <h3 style="color: #ffffff">Result</h3>
    <h4 id="rightorwrong" style="color: #ffffff"></h4>
    <h4 id="answer" style="color: #ffffff"></h4>
    <h4 id="score" style="color: #ffffff"></h4>
    <div>
        </aside>
            <br>
            </div>
            </div>
            </td>
            </tr>
            </table>
</div>

</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    $(function(){
  $('.left-pane, .right-pane').css({ height: $(window).innerHeight() - 95});
  $(window).resize(function(){
    $('.left-pane, .right-pane').css({ height: $(window).innerHeight() - 95});
  });
});
</script>
<script type="text/javascript" src="/static/js/mousetrap.min.js"></script>
<script type="text/javascript">
  window.onload = function() {
    init();
  };
</script>
<script src="/static/js/jquery.csv-0.71.js" type="text/javascript"></script>
{% endblock %}
